@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #1F2937;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  all: unset;
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

body {
  position: relative;
  max-width: 100vw;
  height: 100%;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
}

#nav-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  background-color: #FFF;
}

#nav-page #navigations-page-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nav-page #navigations-page-wrapper #close-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 1.5rem 2rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#nav-page #navigations-page-wrapper #close-button-wrapper button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav-page #navigations-page-wrapper #close-button-wrapper button svg path {
  fill: #6C463B;
}

#nav-page #navigations-page-wrapper #navigations {
  width: 100%;
  height: 100%;
}

#nav-page #navigations-page-wrapper #navigations ul {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav-page #navigations-page-wrapper #navigations ul li {
  width: 100%;
}

#nav-page #navigations-page-wrapper #navigations ul li a {
  color: #6C463B;
  width: 100%;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", "Nunito", "Open Sans", ui-sans-serif, system-ui, sans-serif;
  font-weight: 300;
  text-align: center;
}

.header-wrapper {
  width: 100%;
  padding: 2rem 1.5rem;
}

.header-wrapper nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-wrapper button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-wrapper svg path {
  fill: #6C463B;
}

main {
  max-width: 100vh;
  height: 100%;
  position: relative;
}

.scroll-top-button {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: rgba(25, 25, 39, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(25, 25, 39, 0.2) 0px 7px 29px 0px;
  font-size: .75rem;
  line-height: 1.25rem;
  border-radius: 9999px;
  background-color: #FFF;
  -webkit-transition: ease-in-out 280ms;
  transition: ease-in-out 280ms;
  cursor: pointer;
  bottom: 1.25rem;
  right: 1.25rem;
  padding: .75rem .75rem;
}

.scroll-top-button svg {
  fill: #6C463B;
}

.scroll-top-button span {
  display: none;
}

.scroll-top-button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.button-invisible {
  visibility: hidden;
  opacity: 0;
}

.button-visible {
  visibility: visible;
  opacity: 1;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #6C463B;
}

footer span {
  font-family: "Poppins", "Nunito", "Open Sans", ui-sans-serif, system-ui, sans-serif;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5rem 1.5rem 2.5rem 1.5rem;
}

.footer-content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-content-bottom span {
  display: block;
  color: #FFF;
  padding: .5rem 0;
  letter-spacing: 0.05rem;
}

.footer-content-bottom > div {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.footer-content-bottom #quick-links #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-content-bottom #quick-links #links a {
  color: #FFF;
  margin-top: .125rem;
  margin-bottom: .125rem;
}

.footer-content-bottom #socials-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-content-bottom .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 0;
}

.footer-content-bottom .socials a {
  letter-spacing: 0.05rem;
  margin-right: .5rem;
  margin-left: .5rem;
}

.footer-content-bottom .socials svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #FFF;
}

/* Home Page Styles */
/* Main Section */
.home-sections {
  width: 100%;
  height: 100vh;
  padding: 0 1.25rem;
}

#first_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: #FFF;
  padding: 0 2rem 6rem 2rem;
}

#first_section img {
  max-width: 100%;
}

#first_section #logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#first_section #logo-title {
  font-family: "Poppins", "Nunito", "Open Sans", ui-sans-serif, system-ui, sans-serif;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-align: center;
}

#second_section {
  background-color: #6C463B;
}

/* Menu Page Styles */
.menu-sections-wrapper {
  padding: 0 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-sections-wrapper img {
  max-width: 100%;
}

/* Responsives */
@media screen and (min-width: 1280px) {
  .scroll-top-button {
    padding: 1rem 1rem;
    bottom: 2rem;
    right: 1.5rem;
  }
  .scroll-top-button svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}
/*# sourceMappingURL=index.css.map */